@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,600italic,700,600,400italic,300italic,300);

body {
	padding:0;
	margin: 0;
	background-color: black;
	font-family: 'Open Sans';
}


.content {
	width: 960px;
	height: 694px;
	padding: 0;
	margin: 0 auto;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.a:hover {
	color: white;
}

.nav {
    text-align: center;
    padding:20px;
    background-color: #8b8b6e;
    border: 5px solid #bbbbbb;
    }
	
ul.nav a {
    text-decoration: none;
    color: white;
}
        
ul.nav li {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;    
    list-style: None;
    word-spacing: 80px;
}

.text {
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	padding-top: 450px;
	}
	
.text a {
	text-decoration: none;
	color: #B9B9A8;
}
	
a:hover {
	color: white;
}