* {
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 12px;
}

html body {
	width: 100%;
	height: 100%;
}

.nav {
	text-align: center;
	padding:30px;
	margin-bottom:;
}

ul.nav a {
	text-decoration: none;
}

ul.nav li {
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	display: inline;	
	list-style: None;
	word-spacing: 20px;

}

.wrapper {
	width: 960px;
	/* height: 100%; -> This cuts the background off, 
	if you scroll at all in the page */ 
	margin: 0 auto;
}

.clearfix {
	clear:both;
}


.adopt-left-column {
	float:left;
	width: 66%;
	height: 70%;
	background-color: lime;
}

.adopt-right-column {
	float:left;
	width: 34%;
	height:70%;
	background-color: pink;
}


.about-header h2{
	font-size: 3em;
	text-align: center;
	padding-bottom: 20px;
	font-family: opensans;
	letter-spacing: -2px;
}


.about-header h2:hover{
	font-size: 3em;
	text-align: center;
	padding-bottom: 20px;
	font-family: opensans;
	letter-spacing: 20px;
}

.about-bodytextleft{
	float: left;
	width: 350px;
	margin: 20px;
}


.about-bodytextleft h4{

	font-family: arial;
	font-size: 1.5em;
	color: grey;
	padding-bottom: 10px;

}

.about-bodytextleft p{
	font-size: 1.3em;
	line-height: auto;
	font-family: opensans;
	text-align: justify;

}


.about-bodytextright{
	float: left;
	width: 350px;
	margin: 20px;
}

.about-bodytextright h4{
	font-family: arial;
	font-size: 1.5em;
	color: grey;
	padding-bottom: 10px;


}


.about-bodytextright p{
	font-size: 1.3em;
	font-family: opensans;
	line-height: auto;
	text-align: justify;
}


.about-sideimages{
	width: 170px;
	float: right;
}


.about-sideimages img{
	max-width: 125px;
	padding:30px;
	max-height: auto;
}

.about-sad3 img{
	width: 400px;
	float: left;

}


.about-review {
	width: 500px;
	margin: 20px;
	font-family: arial;
	float:left;
}

.about-review h4 {
font-size: 2em;
color: grey;
padding-bottom: 10px;
}

.about-review h5 {
font-size: 1.4em;
padding-bottom: 10px;

}

.about-review p {
	font-size: 1.3em;
	font-family: times;
	line-height: 21px;
	text-align: justify;}



